#define STR(s) #s
#define ADAPT(NAME, ANTE, DEFAULT, RESULT, DELAY, ...)       \
    ad_##NAME: adaptive_##NAME {                      \
        compatible = "zmk,behavior-antecedent-morph"; \
        #binding-cells = <0>;                         \
        defaults = <DEFAULT>;                         \
        antecedents = <ANTE>;                         \
        bindings = <RESULT>;                          \
        max-delay-ms = <DELAY>;                       \
	   __VA_ARGS__                                    \
    };

#define ADAPT_FAST 200

ADAPT(comasemi, DE_A DE_E,  &comasemi, &kp DE_U &kp DE_O, ADAPT_FAST) // A, -> AU | E, -> EO
ADAPT(minsunds, DE_U DE_O,  &minsunds, &kp DE_A &kp DE_E, ADAPT_FAST) // U- -> UA | O- -> OE
ADAPT(g,        DE_M,       &kp DE_G,  &kp DE_L,          ADAPT_FAST) // MG -> ML
ADAPT(b,        DE_L,       &kp DE_B,  &kp DE_M,          ADAPT_FAST) // LB -> LM
ADAPT(j,        DE_M,       &kp DE_J,  &kp DE_B,          ADAPT_FAST) // MJ -> MB
ADAPT(m,        DE_G,       &kp DE_M,  &kp DE_L,          ADAPT_FAST) // GM -> GL
ADAPT(l,        DE_B,       &kp DE_L,  &kp DE_M,          ADAPT_FAST) // BL -> BM 
ADAPT(w,        DE_X DE_M,  &kp DE_W,  &kp DE_P &kp DE_P, ADAPT_FAST) // XW -> XP | MW -> MP
ADAPT(d,        DE_L,       &kp DE_D,  &kp DE_G,          ADAPT_FAST) // LD ~> LG
