#include "../../common/keypos_def.h"
#include "../../common/layers_def.h"

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT, ...) \
   combo_##NAME {                     \
       bindings = <BINDINGS>;         \
       key-positions = <KEYPOS>;      \
       layers = <LAYERS>;             \
       timeout-ms = <TIMEOUT>;        \
	   require-prior-idle-ms = <150>; \
	   __VA_ARGS__                    \
   };

#define COMBO_FAST 50

// Additional letters
COMBO(z, &kp DE_Z,         LT1 LT3, BASE, COMBO_FAST)
COMBO(q, &kp DE_Q,         LB1 LB2, BASE, COMBO_FAST)

// German letters
COMBO(ae, &kp DE_ADIA,     RM1 RM2, BASE, COMBO_FAST)
COMBO(ue, &kp DE_UDIA,     RB1 RB2, BASE, COMBO_FAST)
COMBO(oe, &kp DE_ODIA,     RB2 RB3, BASE, COMBO_FAST)
COMBO(ss, &kp DE_SS,       LM1 LM4, BASE, COMBO_FAST)

// Common digraphs
COMBO(wh, &digraphWh,      LT1 LT2, BASE, COMBO_FAST)
COMBO(gh, &digraphGh,      LT2 LT3, BASE, COMBO_FAST)
COMBO(sh, &digraphSh,      LM1 LM2, BASE, COMBO_FAST)
COMBO(ch, &digraphCh,      LM2 LM3, BASE, COMBO_FAST)
COMBO(th, &digraphTh,      LM3 LM4, BASE, COMBO_FAST)
COMBO(ph, &digraphPh,      LB2 LB4, BASE, COMBO_FAST)
COMBO(qu, &digraphQu,      LB1 LB4, BASE, COMBO_FAST)

// Trigraphs
COMBO(sch, &trigraphSch,   LM2 LM4, BASE, COMBO_FAST)

// Functions
COMBO(copy,  &kp LC(DE_C)  LB2 LB3, BASE, COMBO_FAST)
COMBO(paste, &kp LC(DE_V), LB3 LB4, BASE, COMBO_FAST)
