hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "homerow_mods";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

hmp: homerow_mods_pinky {
    compatible = "zmk,behavior-hold-tap";
    label = "homerow_mods_pinky";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};