/*
  |---+---+---+---+---|   |---+---+---+---+---|
	0	1	2	3	4		5	6	7	8	9
  |---+---+---+---+---|   |---+---+---+---+---|
	10	11	12	13	14		15	16	17	18	19
  |---+---+---+---+---|   |---+---+---+---+---|
	20	21	22	23	24		25	26	27	28	29
  |---+---+---+---+---|   |---+---+---+---+---|
				30	31		32	33
			  |---+---|   |---+---| 			*/

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
	combo_##NAME { \
		bindings = <BINDINGS>; \
		key-positions = <KEYPOS>; \
		layers = <LAYERS>; \
		timeout-ms = <50>; \
	};

/* Digraphs */
COMBO(th, &digraphTh, 12 13, BASE)
COMBO(sh, &digraphSh, 11 12, BASE)
COMBO(ch, &digraphCh, 11 13, BASE)
COMBO(wh, &digraphWh, 13 14, BASE)
COMBO(ck, &digraphCk, 17 18, BASE)
COMBO(gh, &digraphGh,  1  2, BASE)
COMBO(ph, &digraphPh,  2  3, BASE)
COMBO(qu, &digraphQu, 26 29, BASE)

/* Trigraphs */
COMBO(sch, &trigraphSch, 11 12 13, BASE)

/* Text processing */
COMBO(copy,  &kp LC(DE_C), 21 22, BASE)
COMBO(cut,   &kp LC(DE_X), 21 23, BASE)
COMBO(paste, &kp LC(DE_V), 22 23, BASE)

/* Letters */
COMBO(ae, &kp DE_ADIA,  16  17, BASE)
COMBO(ue, &kp DE_UDIA,  26  27, BASE)
COMBO(oe, &kp DE_ODIA,  26  28, BASE)
COMBO(ss, &kp DE_SS,    10  11, BASE)
COMBO(q,  &kp DE_Q,     28  29, BASE)


#define ADAPT(NAME, BINDINGS, KEYPOS, LAYERS) \
	adapt_##NAME { \
		bindings = <BINDINGS>; \
		key-positions = <KEYPOS>; \
		layers = <LAYERS>; \
		timeout-ms = <150>; \
	};
/*
  |---+---+---+---+---|   |---+---+---+---+---|
	0	1	2	3	4		5	6	7	8	9
  |---+---+---+---+---|   |---+---+---+---+---|
	10	11	12	13	14		15	16	17	18	19
  |---+---+---+---+---|   |---+---+---+---+---|
	20	21	22	23	24		25	26	27	28	29
  |---+---+---+---+---|   |---+---+---+---+---|
				30	31		32	33
			  |---+---|   |---+---| 			*/

ADAPT(mb, &digraphMb,  2  4, BASE)
ADAPT(ml, &digraphMl,  2  3, BASE)
ADAPT(gl, &digraphGl,  2  1, BASE)
ADAPT(pl, &digraphPl,  3  1, BASE)
ADAPT(xc, &digraphXc, 20 21, BASE)

ADAPT(au, &digraphAu, 16 15, BASE)
ADAPT(ua, &digraphUa, 26 25, BASE)
ADAPT(eo, &digraphEo, 17 15, BASE)
ADAPT(oe, &digraphOe, 27 25, BASE)
