#define BASE  0
#define NUM   1
#define SYM   2
#define NAV   3
#define FUN   4	

/ {
	chosen {
		zmk,battery = &vbatt;
	};
	
	vbatt: vbatt {
		compatible = "zmk,battery-nrf-vddh";
		label = "VBATT";
	};
};
