#define BASE  0
#define NUM   1
#define SYM   2
#define NAV   3
#define FUN   4	

#define TAPPING_TERM 160
#define TAPPING_TERM_PINKY 300

&lt {
	tapping-term-ms = <TAPPING_TERM>;
};

/ {
	chosen {
		zmk,battery = &vbatt;
	};
	
	vbatt: vbatt {
		compatible = "zmk,battery-nrf-vddh";
		label = "VBATT";
	};
};
