default_layer {
	label = "Default";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_J		&kp DE_G		&kp DE_M		&kp DE_P		&kp DE_V		&athash			&kp DE_DOT		&slashpipe		&dqtques		&sqtexcl 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&hmp LGUI DE_C	&hmr LALT DE_S	&hmm LCTRL DE_N	&hmi LSHFT DE_T	&kp DE_K		&kp DE_COMMA	&hmi LSHFT DE_A	&hmm LCTRL DE_E &hmr LALT DE_I	&hmp LGUI DE_H
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_X		&kp DE_F		&kp DE_L		&kp DE_D		&kp DE_B		&kp DE_MINUS   	&kp DE_U		&kp DE_O		&kp DE_Y		&kp DE_W	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&lt NUM RET		&lt SYM DE_R	&lt NAV SPACE	&lt FUN BSPC
							        				//---------------+--------------||---------------+---------------|
	>;
};

number_layer {
	label = "Number";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&none			&kp DE_PRCNT	&kp DE_DLLR		&kp DE_EURO		&none			&kp DE_SLASH	&kp DE_7		&kp DE_8		&kp DE_9		&kp DE_MINUS 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp LGUI		&kp LALT		&kp LCTRL		&kp LSHFT		&none			&kp DE_STAR		&kp DE_4		&kp DE_5		&kp DE_6		&kp DE_PLUS
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&none			&kp DE_DEG		&kp DE_SUP3		&kp DE_SUP2		&none			&kp DE_0	   	&kp DE_1		&kp DE_2		&kp DE_3		&kp DE_EQUAL	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none			&kp DE_DOT		&kp DE_COMMA
							            			//---------------+--------------||---------------+---------------|
	>;
};

symbol_layer {
	label = "Symbol";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_PRCNT	&kp DE_MINUS	&kp DE_PLUS		&kp DE_BSLH		&kp DE_CARET	&kp DE_AT		&kp DE_DLLR		&kp DE_LBRC		&kp DE_RBRC		&key_repeat 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_QMARK	&kp DE_LT		&kp DE_GT		&kp DE_EQUAL	&kp DE_TILDE	&kp DE_SEMI		&kp DE_COLON	&kp DE_LPAR		&kp DE_RPAR		&kp DE_PIPE
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_EXCL		&kp DE_SLASH	&kp DE_STAR		&kp DE_AMPS		&kp DE_SQT		&kp DE_UNDER	&kp DE_HASH		&kp DE_LBKT 	&kp DE_RBKT		&kp DE_GRAVE	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none	 		&trans 			&trans
							        				//---------------+--------------||---------------+---------------|
	>;
};

navigation_layer {
	label = "Navigation";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&caps_word		&kp HOME		&kp UP			&kp END			&kp PG_UP		&none			&none			&none			&none			&none 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp ESC 		&kp LEFT		&kp DOWN		&kp RIGHT		&kp PG_DN		&none			&kp LSHFT		&kp LCTRL 		&kp LALT		&kp  LGUI
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp LC(Z)		&kp LC(X)		&kp LC(C)		&kp LC(V)		&kp K_APP		&none	    	&none			&none			&none			&none	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&kp DEL			&kp TAB			&none			&none
							        				//---------------+--------------||---------------+---------------|
	>;
};

function_layer {
	label = "Function";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp F12			&kp F11			&kp F10			&kp F9	 		&kp PSCRN 		&none			&none			&none			&none			&none		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp F8			&kp F7 			&kp F6			&kp F5			&kp PAUSE_BREAK	&none 			&kp LSHFT		&kp LCTRL		&kp LALT		&kp LGUI		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp F4			&kp F3			&kp F2			&kp F1			&kp SYSREQ		&none			&bt BT_PRV		&bt BT_CLR		&bt BT_NXT 	&none		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none			&none			&none
							            			//---------------+--------------||---------------+---------------|
	>;
};
