#define DIGRAPH(NAME, FIRST, SECOND) \
	NAME: NAME { \
		compatible = "zmk,behavior-macro"; \
		label = #NAME; \
		tap-ms = <10>; \
		wait-ms = <0>; \
		#binding-cells = <0>; \
		bindings = <&macro_tap &kp FIRST> \
			, <&macro_release &kp LSHFT>  \
			, <&macro_release &kp RSHFT>  \
			, <&macro_tap &kp SECOND>     \
			; \
	};

DIGRAPH(digraphTh, DE_T, DE_H)
DIGRAPH(digraphSh, DE_S, DE_H)
DIGRAPH(digraphCh, DE_C, DE_H)
DIGRAPH(digraphWh, DE_W, DE_H)
DIGRAPH(digraphPh, DE_P, DE_H)
DIGRAPH(digraphGh, DE_G, DE_H)
