#define DIGRAPH(NAME, FIRST, SECOND) \
	NAME: NAME { \
		compatible = "zmk,behavior-macro"; \
		label = #NAME; \
		tap-ms = <10>; \
		wait-ms = <0>; \
		#binding-cells = <0>; \
		bindings = <&macro_tap &kp FIRST> \
			, <&macro_release &kp LSHFT>  \
			, <&macro_release &kp RSHFT>  \
			, <&macro_tap SECOND>     \
			; \
	};

DIGRAPH(digraphTh, DE_T, &kp DE_H)
DIGRAPH(digraphSh, DE_S, &kp DE_H)
DIGRAPH(digraphCh, DE_C, &kp DE_H)
DIGRAPH(digraphWh, DE_W, &kp DE_H)
DIGRAPH(digraphPh, DE_P, &kp DE_H)
DIGRAPH(digraphGh, DE_G, &kp DE_H)
DIGRAPH(digraphQu, DE_Q, &kp DE_U)
DIGRAPH(digraphCk, DE_C, &kp DE_K)

DIGRAPH(trigraphSch, DE_S, &kp DE_C &kp DE_H)
