#define STR(s) #s
#define OVERRIDE(ID, LABEL, FIRST, SECOND) \
	ID: LABEL { \
		label = STR(LABEL); \
		compatible = "zmk,behavior-mod-morph"; \
		#binding-cells = <0>; \
		bindings = <&kp FIRST>, <&kp SECOND>; \
		mods = <(MOD_LSFT|MOD_RSFT)>; \
	};

OVERRIDE(hashat,      HASH_AT,     DE_HASH,   DE_AT)
OVERRIDE(slashpipe,   SLASH_PIPE,  DE_SLASH,  DE_PIPE)
OVERRIDE(sqtdqt,      SQT_DQT,     DE_SQT,    DE_DQT)
OVERRIDE(equalamps,   EQUAL_AMPS,  DE_EQUAL,  DE_AMPS)
