behaviors {
	hm: homerow_mods {
		compatible = "zmk,behavior-hold-tap";
		label = "homerow_mods";
		#binding-cell = <2>;
		tapping-term-ms = <160>;
		quick-tap-ms = <0>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};
};