default_layer {
	label = "Default";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_J		&kp DE_G		&kp DE_M		&kp DE_P		&kp DE_V		&kp DE_SLASH	&kp DE_DOT		&kp DE_COMMA	&kp DE_SQT		&kp DE_Z 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&hm LGUI DE_C	&hm LALT DE_S	&hm LCTRL DE_N	&hm LSHFT DE_T	&kp DE_K		&kp DE_MINUS	&hm RSHFT DE_A	&hm RCTRL DE_E 	&hm LALT DE_I	&hm RGUI DE_H
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_X		&kp DE_F		&kp DE_L		&kp DE_D		&kp DE_B		&kp DE_QMARK   	&kp DE_U		&kp DE_O		&kp DE_Y		&kp DE_W	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&lt NUM BSPC	&lt SYM DE_R	&lt MATH SPACE	&lt NAV RET
							        				//---------------+--------------||---------------+---------------|
	>;
};

number_layer {
	label = "Number";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&none			&none			&none			&none			&none			&kp DE_SLASH	&kp DE_7		&kp DE_8		&kp DE_9		&kp DE_MINUS 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&sk LGUI		&sk LALT		&sk LCTRL		&sk LSHFT		&none			&kp DE_STAR		&kp DE_4		&kp DE_5		&kp DE_6		&kp DE_PLUS
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&none			&none			&none			&none			&none			&kp DE_0	   	&kp DE_1		&kp DE_2		&kp DE_3		&kp DE_EQUAL	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none			&kp DE_DOT		&kp DE_COMMA
							            			//---------------+--------------||---------------+---------------|
	>;
};


symbol_layer {
	label = "Symbol";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&none			&none			&none			&none			&none			&none			&none			&none			&none			&none	 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&sk LGUI		&sk LALT		&sk LCTRL		&sk LSHFT		&none			&none			&none			&none		 	&none			&none	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&none			&none			&none			&none			&none			&none   		&none			&none	 		&none			&none		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none 			&none 			&none
							        				//---------------+--------------||---------------+---------------|
	>;
};

math_layer {
	label = "Math";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_PRCNT	&kp DE_QMARK	&kp DE_EXCL		&none			&kp DE_GRAVE	&none			&none			&none			&none			&none 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_STAR		&kp DE_MINUS	&kp DE_GT		&kp DE_EQUAL	&kp DE_TILDE	&none			&sk RSHFT		&sk RCTRL 		&sk LALT		&sk RGUI	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp DE_SLASH	&kp DE_PLUS		&kp DE_LT		&none			&kp DE_CARET	&none   		&none			&none 			&none			&none	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none	 		&none 			&none
							        				//---------------+--------------||---------------+---------------|
	>;
};

navigation_layer {
	label = "Navigation";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&caps_word		&kp HOME		&kp UP			&kp END			&kp PG_UP		&none			&none			&none			&none			&none 
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp ESC 		&kp LEFT		&kp DOWN		&kp RIGHT		&kp PG_DN		&none			&sk RSHFT		&sk RCTRL 		&sk LALT		&sk RGUI
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp LC(Z)		&kp LC(X)		&kp LC(C)		&kp LC(V)		&kp K_APP		&none	    	&none			&none			&none			&none	
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&kp DEL			&lt FUN TAB		&none			&none
							        				//---------------+--------------||---------------+---------------|
	>;
};

function_layer {
	label = "Function";
	bindings = <
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp F12			&kp F11			&kp F10			&kp F9	 		&none	 		&none			&none			&none			&none			&none		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp F8			&kp F7 			&kp F6			&kp F5			&none 			&none 			&sk RSHFT		&sk RCTRL		&sk RALT		&sk RGUI		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
		&kp F4			&kp F3			&kp F2			&kp F1			&none 			&none			&none			&none			&none			&none		
	// --------------+---------------+---------------+---------------+--------------||---------------+---------------+---------------+---------------+---------------|
														&none			&none			&none			&none
							            			//---------------+--------------||---------------+---------------|
	>;
};
