&lt {
	flavor = "balanced";
};

&sk {
    quick-release;
    release-after-ms = <1000>;
};

/ {
	chosen {
		zmk,battery = &vbatt;
	};

	vbatt: vbatt {
		compatible = "zmk,battery-nrf-vddh";
		label = "VBATT";
	};
};
